@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');
@import url('/assets/fonts/fa.css');




body, html {
      margin: 0;
  height: 100%;
  background-color: #111;
    
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 88px;
  height: 90px;
}
form {
  height: 100%;
}
.setting {
  width: 37px;
  height: 39px;
}
::placeholder {
  color: #111;
}
.search-bar {
  width: 500px;
  height: 32px;
  max-width: 700px;
  background: 
#D9D9D9;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  margin-left: 47px;
  margin-right: 47px;
} 

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;

  font-size: 17px;
  color: #111;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.055em;
}

.search-bar button {
  color: #111;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 50%;
  background: transparent;
}

.search-bar button img {
  width: 25px;
  filter: invert(0%) sepia(9%) saturate(34%) hue-rotate(265deg) brightness(97%) contrast(87%);
}

.wrapper {
    width: 100%;
    padding: 50px;
    position: absolute;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



